body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.text_company_color {
    color: #E3B873;
}

.header_text {
    margin: 0;
    font-size: 11px;
}

.header {
    position:sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    height: 37px;
    max-width: 100%;
    padding: 24px 92px 22px 90px;
}

.header__logo {
    display: flex;
    margin: 0 5px 0 5px;
    justify-content: left;
    width: 260px;
    margin: 13px 0 14px 0;
}

.header__logo__text {
    margin: 0;
    min-width: 155px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

.header__nav-menu {
    display: flex;
    margin: 0 5px 0 5px;
    justify-content: space-between;
    align-items: center;
    width: 582px;
}

.header__nav-menu__elem {
    margin: 0 3px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__nav-menu__elem:hover {
    color: #805d26;
}

.header__phone {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 41px; */
    margin: 0 5px 0 5px;
    align-items: center;
    min-width: 150px;    
}

.header__request-call {
    text-align: center;
    width: 160px;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-style: italic;
}

.block-first {
    width: 100%;
    height: 707px;
    background-image: url(../images/first_block.jpg);
    background-color: rgba(0, 0, 0, 0.7);
}
.block-first-blackground {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.block-first__content {
    max-width: 676px;
    max-height: 305px;
    margin: 194px 0 208px 134px;
    color: #FFFFFF;
}

.block-first__content__h1 {
    margin: 0 0 19px 0;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    list-style: 53px;
}

.block-first__content__about {
    margin: 0 0 41px 0;
    width: 504px;
    font-size: 22px;
    line-height: 36px;
}

.block_first__buttons {
    width: 207px;
    height: 51px;
    border-radius: 2px;
    font-size: 11px;
    color: #FFFFFF;
}

.block-first__content__calc-cost {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.block-first__content__submit {
    background: none;
    border: #FFFFFF 1px solid;
}

.completed-pr {
    justify-content: center;
    background-color: black;
    display: flex;
    width: 100%;
    padding: 107px 0 416px 0;
}

.completed-pr_block1 {
    justify-content: center;
    display: flex;
    width: 80%;
}

.completed-pr__paragraph {
    margin: 80px 50px 0 0;    
}

.completed-pr__paragraph__h2 {
    margin: 0;
    width: 253px;
    font-size: 27px;
    padding-bottom: 34px;
    font-family: 'Yeseva One', cursive;
    color: #E3B873;
    line-height: 37,42px;
}

.completed-pr__paragraph__propertie_name {
    margin: 0;
    font-size: 18px;
    font-family: 'Yeseva One', normal;
    color: #E3B873;
    line-height: 24,95px;
}

.completed-pr__paragraph__text {
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 26,73px;
    margin-bottom:  0 0 25px 0;
}

.completed-pr__paragraph__properties {
    display: flex;
    flex-wrap: wrap;
}

.completed-pr__paragraph__propertie {
    width: 213px;
    height: 70px;
    margin: 17px 0;
}

.completed-pr__paragraph__navigation {
    display: flex;
    margin: 70px 0 0 0;
}

.completed-pr__paragraph__navigation_direction {
    border: 0;
    background: none;
    margin: 0;
}

.completed-pr__paragraph__navigation_type-celect {
    width: 10px;
    height: 10px;
    margin: 3px 9px;
    padding: 0;
    border: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);
}

.completed-pr__paragraph__navigation_type-celect:hover {
    background: rgba(255, 255, 255, 0,7);
}

.completed-pr__paragraph__navigation_type-celect:first-child {
    background: rgba(255, 255, 255, 1);
}

.completed-pr__galery__nav {
    margin-bottom: 52px;
    display: flex;
}

.completed-pr__galery__nav_elem {
    margin: 0 30px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
}

.completed-pr__galery_first-elem {
    margin-left: 0;
    color: #E3B873;
    /* text-decoration: underline */
    padding-bottom: 7px;
    border-bottom: 1px #E3B873 solid;
}

.online_control {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
}

.online_control__block {
    max-width: 817px;
    position: relative;
    top: -300px;
}

.title_selection {
    text-align: center;
    margin-bottom: 32px;
}

.title_selection__text {
    font-family: Yeseva One;
    color: #FFFFFF;
    font-size: 20px;
    margin: 13px 0px;
}

.title_selection__about {
    width: 100%;
    /* align-content: center; */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.black_color {
    color: black;
}

.collection_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection_icon__elem {
    margin: 0 4px;
}

.play_video {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(227, 184, 115, 1);
}

.play_video:active {
    background: rgb(134, 109, 69);
}

.play_video__triangle {
    padding-left: 6px;
}

.online_control__block__video {
    height: 434px;
    width: 100%;
    background-image: url(../images/repair_promo_video.png);
}

.online_control__block__video_black {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.separator {
    margin: 62px 50% 0;
    text-align: center;
}

.online_control__block__about {
    margin: 34px 10%;
    font-size: 18px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
}

.online_control__block__form {
    display: flex;
    justify-content: space-between;
}

.online_control__block__form__elem {
    margin: 0 25px;
}

.online_control__block__form__elem_text {
    margin: 0;
    color: rgba(54, 54, 54, 0.5);
}

.online_control__block__form__elem_input {
    border: none;
    width: 231px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: black;
    padding: 8px 8px 8px 0;
    font-size: 14px;
}

.online_control__block__form__submit {
    border: none;
    width: 200px;
    background: rgba(227, 184, 115, 1);
    color: #FFFFFF;
}

.online_control__block__confirm__policy {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.confirm__policy__checkbox {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    color: rgba(227, 184, 115, 1);
}

.online_control__block__confirm__policy__text {
    margin: 0;
}

.types_of_repair {
    margin-top: 147px;
    display: flex;
    justify-content: center;
}

.types_of_repair__elements {
    display: flex;
    height: 608px;
}

.types_of_repair__elem {
    margin: 0 15px;
}

.types_of_repair__elem__about {
    width: 330px;
    height: 286px;
    margin: 0 31px;
    background: #FFFFFF;
    position: relative;
    top: -137px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types_of_repair__elem__title {
    margin: 0;
    padding: 25px 0 8px 34px;
    font-family: Yeseva One;
    font-size: 18px;
    line-height: 25px;
}

.types_of_repair__elem__about__ul {

    margin: 0 0 23px 10px;
}

.types_of_repair__elem__about__li {
    padding: 5px 0;
    color:rgba(149, 149, 149, 1);
    font-size: 13px;
}

.types_of_repair__elem__cost {
    width: 228px;
    height: 54px;
    position: relative;
    left: 31px;
    top: -180px;
    background: rgba(227, 184, 115, 1);
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    text-align: center;
}

.types_of_repair__elem__cost__text {
    padding: 13px 0;
    font-family: Yeseva One;
    font-size: 18px;
    color: #FFFFFF;

}

.requestion {
    display: flex;
    margin-bottom: 255px;
}

.requestion-list {
    width: 50%;
    margin-bottom: 80px;
    box-sizing: border-box;
    background-image: url(../images/request_free_departure.png);
    background-repeat: no-repeat;
    padding: 67px 0 0 249px;
}

.requestion-elem {
    display: flex;
    margin: 50px 0;
}

.requestion-elem__circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(227, 184, 115);
    border: 8px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(227, 184, 115, 0.5);
}

.requestion-elem__circle-text {
    text-align: center;
    margin: 10px 0;
    font-family: Yeseva One;
    font-size: 18px;
    color: #FFFFFF;
}

.requestion-elem__text {
    margin: 8px 10px;
    display: flex;
    align-items: center;
}

.requestion-form {
    height: 509px;
    width: 506px;
    margin: 106px 100px 0 131px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.requestion-title {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.requestion-input-main {
    margin: 52px 49px;
    display: flex;
    flex-direction: column;
}

.requestion-input-last {
    margin: 52px 49px 8px 49px;
}

.requestion-label {
    font-size: 13px;
    padding: 7px 2px;
    color: rgba(255, 255, 255, 0.5);
}

.requestion-input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.requestion-agreement {
    display: flex;
    margin: 0 49px;
}

.requestion-agreement-text {
    margin: 0;
    padding-left: 8px;
    color: #FFFFFF;
}

.requestion-button {
    margin: 39px 49px 27px 244px;
}


.button {
    border: none;
    width: 213px;
    height: 51px;
    background: rgba(227, 184, 115, 1);
    color: #FFFFFF;
}

.save-cost {
    display: flex;
    margin: 38px 0 0 31px;
}

.icon-pig {
    height: 72px;
    width: 72px;
    background: rgba(227, 184, 115, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-pig__text {
    margin-left: 25px;
    color: rgba(227, 184, 115, 1);
}

.realize_fantasy {
    width: 100%;
    height: 864px;
    background-image: url(../images/fantasy-fon.png);
}

.realize_fantasy-black {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
}

.realize_fantasy__selection {
    width: 40%;
    box-sizing: border-box;
    padding: 140px 0 100px 100px;

}

.realize_fantasy__title {
    font-family: Yeseva One;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 34px 0;
}

.realize_fantasy__selection-list {
    padding: 0;
}

.realize_fantasy__selection__elem {
    margin: 12px 0;
    width: 200px;
    list-style-type: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.realize_fantasy__selection__elem:hover {
    border-bottom: 1px solid rgba(227, 184, 115, 1);
    color: rgba(227, 184, 115, 1);
}

.realize_fantasy__galery {
    width: 60%;
    display: flex;
}

.realize_fantasy__galery-list1 {
    position: relative;
    top: -60px;
    margin: 0 20px 0 0; 
}

.realize_fantasy__galery-list2 {
    position: relative;
    top: -132px;
    margin: 0 0 0 20px;
}

.realize_fantasy__galery-elem {
    margin: 20px 0;
}

.our-clients {
    width: 100%;
    height: 685px;
    margin-top: 110px;
}

.our-clients-list {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
}

.our-clients-elem {
    margin: 0 54px;
    height: 428px;
    width: 376px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.our-clients-elem__title {
    display: flex;
    margin: 20px 20px;
}

.our-clients-elem__title__name {
    margin-left: 25px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.our-clients-elem__about {
    margin: 0 30px 0 20px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(149, 149, 149, 1);
}


.our-clients-elem__option {
    position: relative;
    bottom: -77px;
    display: flex;
    height: 54px;
    width: 300px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.our-clients-elem__option__elem {
    padding: 11px;
    height: 100%;
    width: 50%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.option__border_right {
    border-right: 1px solid #FFFFFF;
}

.our-clients-elem__option__elem-text {
    margin: 0 0 0 15px;
    font-family: Yeseva One;
    font-size: 17px;
    font-style: normal;
    color: #FFFFFF;
}

.city_background {
    position: relative;
    margin: 0;
    top: -100px;
    z-index: -1;
    width: 100%;
    height: 360px;
    background-image: url("../images/city_bg.svg");
    background-repeat: repeat-x;
}

.city_background-white {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95)
}

.questions {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 445px;
    z-index: 2;
}

.map-form {
    position: relative;
    top: -250px;
    width: 883px;
    padding: 34px 181px;
    box-sizing: border-box;
    background-color: #181818;
}

.map-form__title {
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    color: white;
}

.map-form-1 {
    margin: 45px 0 48px 0;
    display: flex;
    justify-content: space-between;
}

.map-input-main {
    display: flex;
    flex-direction: column;
    width: 231px;
}

.map-label {
    color: rgba(255, 255, 255, 0.5);
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
}

.map-input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.map-form-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.map-agreement {
    display: flex;
    justify-content: center;
}

.map-agreement-button_block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.map-agreement__button {
    margin: 51px 0 34px 0;
}

.address {
    width: 100%;
    height: 950px;
    background-repeat: no-repeat;
    position: relative;
    top: -550px;
    z-index: -1;
    background-size: cover;
    background-image: url("../images/map_background.png");
}

.address-black {

    width: 100%;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    /* padding-top: 150px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.address_title {
    font-family: Yeseva One;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgba(227, 184, 115, 1);
}

.address__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.address__icon {
    margin: 0 8px;
}

.address-map {    
    margin: 0 auto 40px;
    width: 925px;
    height: 465px;

}