body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.text_company_color {
    color: #E3B873;
}

.header_text {
    margin: 0;
    font-size: 11px;
}

.main_block {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    height: 37px;
    max-width: 100%;
    padding: 24px 92px 22px 90px;
}

.header__logo {
    display: flex;
    margin: 0 5px 0 5px;
    justify-content: left;
    width: 260px;
    /* height: 10px; */
    margin: 13px 0 14px 0;
}

.header__logo__text {
    margin: 0;
    min-width: 155px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

.header__nav-menu {
    display: flex;
    margin: 0 5px 0 5px;
    justify-content: space-between;
    align-items: center;
    width: 582px;
}

.header__nav-menu__elem {
    margin: 0 3px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__nav-menu__elem:hover {
    color: #805d26;
}

.header__phone {
    display: flex;
    justify-content: flex-end;
    /* padding-right: 41px; */
    margin: 0 5px 0 5px;
    align-items: center;
    min-width: 150px;    
}

.header__request-call {
    text-align: center;
    width: 160px;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-style: italic;
}

.block-first {
    width: 100%;
    height: 707px;
    background-image: url(../images/first_block.jpg);
    background-color: rgba(0, 0, 0, 0.7);
}
.block-first-blackground {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.block-first__content {
    max-width: 676px;
    max-height: 305px;
    margin: 194px 0 208px 134px;
    color: #FFFFFF;
}

.block-first__content__h1 {
    margin: 0 0 19px 0;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    list-style: 53px;
}

.block-first__content__about {
    margin: 0 0 41px 0;
    width: 504px;
    font-size: 22px;
    line-height: 36px;
}

.block_first__buttons {
    width: 207px;
    height: 51px;
    border-radius: 2px;
    font-size: 11px;
    color: #FFFFFF;
}

.block-first__content__calc-cost {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.block-first__content__submit {
    background: none;
    border: #FFFFFF 1px solid;
}

.completed-pr {
    justify-content: center;
    background-color: black;
    display: flex;
    width: 100%;
    padding: 107px 0 416px 0;
}

.completed-pr_block1 {
    justify-content: center;
    display: flex;
    width: 80%;
}

.completed-pr__paragraph {
    margin: 80px 50px 0 0;    
}

.completed-pr__paragraph__h2 {
    margin: 0;
    width: 253px;
    font-size: 27px;
    padding-bottom: 34px;
    font-family: 'Yeseva One', cursive;
    color: #E3B873;
    line-height: 37,42px;
}

.completed-pr__paragraph__propertie_name {
    margin: 0;
    font-size: 18px;
    font-family: 'Yeseva One', normal;
    color: #E3B873;
    line-height: 24,95px;
}

.completed-pr__paragraph__text {
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 26,73px;
    margin-bottom:  0 0 25px 0;
}

.completed-pr__paragraph__properties {
    display: flex;
    flex-wrap: wrap;
}

.completed-pr__paragraph__propertie {
    width: 213px;
    height: 70px;
    margin: 17px 0;
}

.completed-pr__paragraph__navigation {
    display: flex;
    margin: 70px 0 0 0;
}

.completed-pr__paragraph__navigation_direction {
    border: 0;
    background: none;
    margin: 0;
}

.completed-pr__paragraph__navigation_type-celect {
    width: 10px;
    height: 10px;
    margin: 3px 9px;
    padding: 0;
    border: 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);
}

.completed-pr__paragraph__navigation_type-celect:hover {
    background: rgba(255, 255, 255, 0,7);
}

.completed-pr__paragraph__navigation_type-celect:first-child {
    background: rgba(255, 255, 255, 1);
}

.completed-pr__galery__nav {
    margin-bottom: 52px;
    display: flex;
}

.completed-pr__galery__nav_elem {
    margin: 0 30px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Yeseva One', cursive;
    text-transform: uppercase;
}

.completed-pr__galery_first-elem {
    margin-left: 0;
    color: #E3B873;
    /* text-decoration: underline */
    padding-bottom: 7px;
    border-bottom: 1px #E3B873 solid;
}

.online_control {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
}

.online_control__block {
    max-width: 817px;
    position: relative;
    top: -300px;
}

.online_control__block__header {
    text-align: center;
    margin-bottom: 32px;
}

.online_control__block__header__title {
    font-family: Yeseva One;
    color: #FFFFFF;
    font-size: 20px;
    margin: 13px 0px;
}

.cam_collection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cam_collection__elem {
    margin: 0 4px;
}

.play_video {
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(227, 184, 115, 1);
}

.play_video__triangle {
    padding-left: 4px;
}

.online_control__block__video {
    height: 434px;
    width: 100%;
    background-image: url(../images/repair_promo_video.png);
}

.online_control__block__video_black {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.separator {
    margin: 62px 50% 0;
    text-align: center;
}

.online_control__block__about {
    margin: 34px 10%;
    font-size: 18px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
}

.online_control__block__form {
    display: flex;
    justify-content: space-between;
}

.online_control__block__form__elem {
    margin: 0 25px;
}

.online_control__block__form__elem_text {
    margin: 0;
    color: rgba(54, 54, 54, 0.5);
}

.online_control__block__form__elem_input {
    border: none;
    width: 231px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    color: black;
    padding: 8px 8px 8px 0;
    font-size: 14px;
}

.online_control__block__form__submit {
    border: none;
    width: 200px;
    background: rgba(227, 184, 115, 1);
    color: #FFFFFF;
}

.online_control__block__confirm__policy {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.online_control__block__confirm__policy__checkbox {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    color: rgba(227, 184, 115, 1);
}

.online_control__block__confirm__policy__text {
    margin: 0;
}